* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', sans-serif;
}

body{
  background: linear-gradient(65deg,  #000000, #201f1f, #000000);
  animation: opacity 2s ease-in-out 0s;
}

@keyframes opacity {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }   
}

abbr{
  text-decoration: none;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, #494378, #3d3858);
  height: 55px;
}

h2{
  color: #fee87b;
  font-size: 45px;
}

p{
  color: #ffffff;
}

hr{
  width: 50%;
  margin: 0 auto;
}

.nav-list{
  list-style: none;
  display: flex;
}

.nav-list li{
  letter-spacing: 1px;
  margin-left: 62px;
}

.nav-list a{
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
  font-size: 30px;
}

.nav-list a:hover{
  background-color: #fee87b;
  padding: 0 10px;
  border-radius: 5px;
  color: #000000;
}

.mobile-menu{
  display: none;
  cursor: pointer;
}

.mobile-menu div{
  width: 32px;
  height: 2px;
  background: #ffffff;
  margin: 8px;
  transition: 0.3s;
}

.main-box{
  width: 100%;
  min-height: 650px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: #ffffff;
  padding: 0 50px;
}

.first-box{
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}


.first-box h1{
  font-size: 40px;
  margin-bottom: 3px;
}

.first-box h4{
  color: #fae88d;
  margin-bottom: 15px;
}

.second-box{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-box img{
  width: 70%;
  border-radius: 50px;
}

.my-projects{
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects_box{
  width: 100%;
  padding: 0px 0;
  display: flex;
}

.project{ 
  width: 400px;
  height: 480px;
  padding: 2px;
  margin: 20px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #867c7c;
  transition: 0.3s ease-in-out;
}

.project img{
  border-radius: 20px 20px 0 0;
  width: 100%;
}


.project:hover{
  box-shadow: 0 5px 14px rgba(251, 247, 247, 0.3), 0 5px 4px rgba(242, 240, 240, 0.22);
}

.project a{
  text-decoration: none;
}

.project h3{
  margin: 10px 0;
  text-align: center;
  color: #FFE55C;
}

.techs{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 50px 0;
}

#techs h2{
  margin-top: 20px;
}

#techs h2, p{
  text-align: center;
}

.techs img{
  border-radius: 20px;
  border: 10px solid #ffffff;
}

.techs img:hover{
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.whatsapp{
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.top{
  position: fixed;
  bottom: 85px;
  right: 30px;
}

footer{
  height: 150px;
  text-align: center;
  color: #FFE55C;
  padding: 45px;
}

footer h4{
  padding: 20px 0;
}

@media (max-width: 930px){

  body{
    overflow-x: hidden;
  }
  .whatsapp{
    z-index: 2;
    display: block;
  }
  
  .top{
    display: none;
  }
  
  .nav-list{
    display: none;
    position: absolute;
    top: 55px;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #494378, #3d3858);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-list.active{
    z-index: 1;
    display: flex;
    transform: translateX(0);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    } to {
      opacity: 1;
      transform: translateX(0);
    }   
  }

  .nav-list li{
    margin: 20px 0;
    opacity: 0;
  }

  .mobile-menu{
    display: block;
  }

  .mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
  }

  .mobile-menu.active .line2{
    opacity: 0;
  }

  .mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
  }

  .main-box{
    flex-direction: column-reverse;
    align-items: center;
    margin: 30px 0;
  }

  .first-box{
    margin-top: 10px;
    width: 100%;
  }

  .first-box h1{
    font-size: 22px;
  }

  .first-box h4{
    font-size: 15px;
  }

  .second-box{
    display: flex;
    width: 100%;
  }

  .project{
    justify-content: center;
    align-items: center;
  }  

  .techs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .techs img{
    margin: 25px 10px;
  }
}
