* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background: linear-gradient(65deg,  #000000, #212121, #000000);
  animation: opacity 2s ease-in-out 0s;
  color: #ffffff;
}

@keyframes opacity {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }   
}

nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(to right, #494378, #3d3858);
  height: 55px;
}

main{
  overflow: hidden;
}


.nav-list{
  list-style: none;
  display: flex;
  margin-right: 100px;
}

.nav-list li{
  margin: 0 30px;
}

.nav-list a{
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
  font-size: 1.2rem;
}

.nav-list a:hover{
  background-color: #fee87b;
  padding: 0 10px;
  border-radius: 5px;
  color: #000000;
}

.mobile-menu{
  display: none;
  cursor: pointer;
}

.mobile-menu div{
  width: 32px;
  height: 2px;
  background: #ffffff;
  margin: 8px;
  transition: 0.3s;
}

.main-box{
  width: 100%;
  min-height: 700px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: #ffffff;
  padding: 0 20px;
}

.main-box a{
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.languages{
  display: flex;
  justify-content: center;
  align-items: center;
}

.languages img{
  margin: 20px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.first-box{
  width: 50%;
  min-height: 680px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin-top: 70px;
}

.first-box h1{
  text-align: center;
  font-size: 60px;
}

.first-box h4{
  text-align: center;
  color: #fae88d;
  font-size: 30px;
  margin-bottom: 20px;
}

.first-box p{
  margin: 15px 0;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-indent: 2rem;
}

.first-box img{
  margin-top: 25px;
}

.first-box a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

small {
  margin-top: 5px;
  font-weight: bold;
}

.second-box{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-box img{
  max-width: 350px;
  border-radius: 50%;
}



.my-projects > h2{
  color: #fae88d;
  text-align: center;
  font-size: 3rem;
  margin: 50px 0;
}

#repositories{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0 80px 0;
}


.ReposData{
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
  transition: ease .3s;
  box-shadow: 0 0 10px white;
}

.ReposData:hover{
  background-color: #ffffff;
  color: #000000;
  box-shadow: -3px -3px 30px 3px pink, 3px 3px 30px 3px blue;
  transform: perspective(500px) rotateX(10deg);
}

.ReposData > h3{
  text-transform: uppercase;
  color:#5c5595;
}

.links{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ReposData span a{
  text-decoration: none;
  text-align: center;
  color: white
}

.page, .gitRepository{
  color: #ffffff;
  text-decoration: none;
  padding: 2px 0;
  margin: 2px 0;
  border-radius: 3px;
}

.page{
  background-color: #4CAF50;
}

.gitRepository{
  background-color: #5c5595;
}

#technologies{
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: space-evenly;
  background-color: #ffffff;
  margin: 80px 0;
}

.tech-box1{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.tech-box1 img{
  width: 80%;
  max-width: 600px;
}

.tech-box2{
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  text-align: center;
}

.tech-box2 h2{
  color: #261f54;
  font-size: 3rem;
  margin: 12px 0;
}


.tech-box2 img{
  border-radius: 10px;
  margin: 8px;
}

.tech-box2 div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.whatsapp{
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
}

.top{
  position: fixed;
  bottom: 85px;
  right: 30px;
  z-index: 1000;
}

footer{
  text-align: center;
  padding: 45px;
  align-items: center;
}

footer h4{
  padding: 20px 0;
  color: #fae88d;
}

iframe{
  margin-bottom: 20px;
  width: 100%;
  border-radius: 10px;
}

address{
  font-style: normal;
}

footer a{
  color:#ffffff;
  text-decoration: none;
}

footer a img{
  margin: 10px 5px;
}

.hidden_1, .hidden_2, .hidden_3 {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 2s, transform 2s;
}

#pt, #es, #en{
  cursor: pointer;
}

#enBox, #esBox{
  display: none;
}

@media (max-width: 930px){
  
  .whatsapp{
    z-index: 2;
    display: block;
  }

  .nav-list{
    display: none;
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    height: 60%;
    border-radius: 0 0 50% 50%;
    background: linear-gradient(to right, #494378, #3d3858);
    box-shadow: rgba(232, 229, 229, 0.2) 0px 60px 40px -7px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-list.active{
    z-index: 1;
    display: flex;
    transform: translateX(0);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    } to {
      opacity: 1;
      transform: translateX(0);
    }   
  }

  .nav-list li{
    margin: 20px 0;
    opacity: 0;
  }

  .mobile-menu{
    display: block;
  }

  .mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
  }

  .mobile-menu.active .line2{
    opacity: 0;
  }

  .mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
  }

  .main-box{
    flex-direction: column-reverse;
    align-items: center;
    margin: 30px 0;
    min-height: 1200px;
  }

  .first-box{
    margin-top: 10px;
    width: 100%;
  }

  .first-box h1{
    font-size: 2rem;
  }

  .first-box h4{
    font-size: 1.5rem;
  }

  .second-box{
    display: flex;
    width: 100%;
  }

  .second-box{
    width: 70%;

  }

  .my-projects > h2{
    font-size: 2rem;
  }

  #technologies{
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    padding: 50px 0;
  }

  .tech-box1, .tech-box2{
    width: 100%;
  }

  .tech-box1 img{
    width: 100%;
    min-width: 250px;
    max-width: 450px;
    margin-bottom: 30px;
  }

  .tech-box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .tech-box2 img{
    margin: 8px;
  }


}
